name: Check firmware update

on:
  workflow_dispatch:
    inputs:
      MODEL:
        description: 'MODEL'
        required: true
        default: 'SM-S908E'
      REGION:
        description: 'REGION'
        required: true
        default: 'MID'

jobs:
  update:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 2

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Compare latest version with current version
        id: check
        run: |
          need_update=0
          latest=`curl --retry 5 --retry-delay 5 http://fota-cloud-dn.ospserver.net/firmware/${{ github.event.inputs.REGION }}/${{ github.event.inputs.MODEL }}/version.xml | grep latest | sed 's/^[^>]*>//' | sed 's/<.*//'`
          latest_short=`echo $latest | cut -d'/' -f1`
          latest_csc=`echo $latest | cut -d'/' -f2`
          latest_modem=`echo $latest | cut -d'/' -f3`
          current=`cat current.${{ github.event.inputs.MODEL }}` || need_update=1
          [[ $latest != $current ]] && need_update=1
          echo ::set-output name=latest_version::$latest
          echo ::set-output name=latest_shortversion::$latest_short
          echo ::set-output name=latest_cscversion::$latest_csc
          echo ::set-output name=latest_modemversion::$latest_modem
          echo ::set-output name=need_update::$need_update

      - name: Install dependencies
        if: steps.check.outputs.need_update == 1
        run: |
          sudo apt-get update
          sudo apt-get install -y liblz4-tool zip
          sudo wget -O /usr/bin/unpackbootimg https://wbn.ro/unpackbootimg && sudo chmod +x /usr/bin/unpackbootimg
          sudo wget -O /usr/bin/extract-ikconfig https://wbn.ro/extract-ikconfig && sudo chmod +x /usr/bin/extract-ikconfig
          sudo wget -O /usr/bin/samfirm https://github.com/jesec/SamFirm.NET/releases/latest/download/linux-x64 && sudo chmod +x /usr/bin/samfirm

      - name: Fetch firmware
        if: steps.check.outputs.need_update == 1
        run: samfirm -m ${{ github.event.inputs.MODEL }} -r ${{ github.event.inputs.REGION }}

      - name: Print directory structure
        if: steps.check.outputs.need_update == 1
        run: ls -la ${{ github.event.inputs.MODEL }}_${{ github.event.inputs.REGION }}

      - name: Get path of files
        if: steps.check.outputs.need_update == 1
        id: files
        run: |
          echo ::set-output name=bl::`find -name BL*`
          echo ::set-output name=ap::`find -name AP*`
          echo ::set-output name=cp::`find -name CP*`
          echo ::set-output name=csc::`find -name HOME_CSC*`

      - name: Check downloaded firmware version
        if: steps.check.outputs.need_update == 1
        run: |
          version_short=`echo ${{ steps.files.outputs.ap }} | cut -d'_' -f3`
          version_csc=`echo ${{ steps.files.outputs.csc }} | cut -d'_' -f5`
          version_modem=`echo ${{ steps.files.outputs.cp }} | cut -d'_' -f3`
          [[ $version_short == ${{ steps.check.outputs.latest_shortversion }} ]] && echo PDA version: $version_short >> versions.txt
          [[ $version_csc == ${{ steps.check.outputs.latest_cscversion }} ]] && echo CSC version: $version_csc >> versions.txt
          [[ $version_modem == ${{ steps.check.outputs.latest_modemversion }} ]] && echo Modem version: $version_modem >> versions.txt

      - name: Print available disk space
        if: steps.check.outputs.need_update == 1
        run: |
          pwd
          sudo df -h
          
      - name: Create zip environment
        if: steps.check.outputs.need_update == 1
        run: |
          target_device=`echo ${{ github.event.inputs.MODEL }} | cut -d'-' -f2`
          target_version=${{ steps.check.outputs.latest_shortversion }}
          mkdir -p $target_version miscs tmp
          
      - name: Extract images/files from AP, dump miscs and create zips
        if: steps.check.outputs.need_update == 1
        id: releases
        run: |
          target_version=${{ steps.check.outputs.latest_shortversion }}
          tar xvf ${{ steps.files.outputs.ap }} meta-data/fota.zip --strip-components=1
          [[ -e fota.zip ]] && unzip -P fotatest1234 -j fota.zip META/misc_info.txt -d miscs
          tar xvf ${{ steps.files.outputs.ap }} recovery.img.lz4
          lz4 -dm recovery.img.lz4
          extract-ikconfig recovery.img > miscs/${{ github.event.inputs.MODEL }}_defconfig
          cd tmp
          unpackbootimg -i ../recovery.img >> ../miscs/recoveryimg.args
          [[ -e recovery.img-dtb ]] && cp recovery.img-dtb ../miscs/dtb
          [[ -e recovery.img-recovery_dtbo ]] && cp recovery.img-recovery_dtbo ../miscs/recovery_dtbo
          cd ../miscs
          zip -r ../$target_version-miscs.zip *
          cd ..
          mv recovery.img.lz4 $target_version-stock_recovery.img.lz4
          ls
          echo ::set-output name=recovery::`find -name $target_version-stock_recovery.img.lz4`
          echo ::set-output name=miscs::`find -name $target_version-miscs.zip`

      - name: Update current version
        if: steps.check.outputs.need_update == 1
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git pull origin ${{github.ref}} --ff-only
          echo ${{ steps.check.outputs.latest_version }} > current.${{ github.event.inputs.MODEL }}
          git add current.${{ github.event.inputs.MODEL }}
          git commit -m "${{ github.event.inputs.MODEL }}: ${{ steps.check.outputs.latest_version }}"
          git tag ${{ steps.check.outputs.latest_shortversion }}

      - name: Push changes to repo
        if: steps.check.outputs.need_update == 1
        uses: ad-m/github-push-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tags: true

      - name: Upload release assets
        if: steps.check.outputs.need_update == 1
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          body_path: versions.txt
          tag_name: ${{ steps.check.outputs.latest_shortversion }}
          files: |
            ${{ steps.releases.outputs.recovery }}
            ${{ steps.releases.outputs.miscs }}
